//COMMON COLORS
$color-dark:#181718 !important;
$color-gray2:#282828 !important;
$color-black:#000000 !important;
//THEME USE COLORS
$color-darkblue:#0a3578 !important;
$color-green:#03b840 !important;
$color-gray:#757575 !important;
$color-yellow:#f8c104 !important;
$color-red:#f21b1b !important;
$color-blue:#0173bc !important;
$color-white:#fff !important;
$color-lightgray:#ebebeb !important;
$color-lightgray2:#fbfafa !important;
$color-lightgray3:#ddd !important;
$color-dark:#262626 !important;
$color-orange:#e54c37 !important;
$color-darkorange:#b51600 !important;
$color-primary:$color-orange;
$color-secondary:$color-dark;
$color-third:$color-white;