.copyright__list li {
    padding: 15px;
}

.copyright {
    &__list {
        @include flex;
        @include flex-align-items(center);
        @include flex-justify-content(center);
    }
}

.site-footer {
    background-color: $color-black;
    .footer-column {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        .widget_nav_menu {
            margin-bottom: 0 !important;
            .menu {
                @include flex;
                @include flex-align-items(center);
                @include flex-justify-content(center);
                li {
                    padding: 10px;
                }
            }
        }
    }
}

.site-footer .footer-column {
    max-width: inherit;
    flex: inherit;
    width: inherit;
}

.footer-wrapper #nav_menu-2 ul li {
    padding: 0px 20px !important;
}

.footer-wrapper {
    #text-5 {
        margin: 0;
        padding: 0;
        div {
            border-bottom: 2px solid $color-orange;
            text-align: center;
            p {
                color: $color-white;
                text-align: center;
                font-size: 1.2em;
            }
        }
    }
    #menu-footer-menu {
        li {
            &:last-child {
                a {
                    pointer-events: none;
                }
            }
        }
    }
}

.footer-column-container {
    @include flex;
    @include flex-justify-content(center);
}