h2.vc_custom_heading {
    // color: $color-orange;
    padding-bottom: 10px;
    // font-size: 3em;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 2.4em;
    color: $color-dark;
    font-family: $font-primary;
}

h1.vc_custom_heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-family: $font-primary;
    &:after {
        display: block;
        position: absolute;
        content: '';
        background: $color-orange;
        width: 174px;
        height: 2px;
        margin: 10px 0;
    }
}

h3.vc_custom_heading {
    font-family: $font-primary;
}

.text-left {
    h2.vc_custom_heading {
        text-align: left;
    }
    p {
        text-align: left;
    }
    ul {
        li {
            text-align: left;
        }
    }
}