h2.vc_custom_heading {
    // color: $color-orange;
    padding-bottom: 10px;
    // font-size: 3em;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 2.7em;
    color: $color-dark
}

h1.vc_custom_heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
    &:after {
        display: block;
        position: absolute;
        content: '';
        background: $color-orange;
        width: 174px;
        height: 2px;
        margin: 10px 0;
    }
}